* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Text Me One', cursive;
  background-color: rgba(56, 248, 56, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  height: 460px;
}

.container-mensagem {
  width: calc(100% - 130px);
  height: calc(100% - 220px);
  background-color: rgb(230, 230, 230);
  margin: 10px auto;
  border: solid 4px black;
  border-radius: 20px;
}

.container-resultado {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 10px 10px;

}

.container-resultado h2 {
  font-size: 25px;
  font-weight: 500;
  padding-right: 5px;
}

.resultado {
  width: 60px;
  height: 35px;
  background-color: rgb(139, 139, 139);
  border-radius: 10px;
  text-align: center;
  border: solid 2px black;
  padding: 2px;
}

.mensagem-aviso {
  margin: 0 auto;
  width: 150px;
  height: 80px;
  background-color: rgb(139, 139, 139);
  border-radius: 10px;
  padding: 10px;
}

.container {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(230, 230, 230);
  border: solid 4px black;
}

.container h1 {
  font-weight: 500;
}

input {
  border: solid 3px black;
  border-radius: 5px;
  width: calc(100% - 5px);
  height: calc(100% - 200px);
  padding-left: 10px;
  background-color: rgb(139, 139, 139);
}

button {
  padding: 8px 30px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: rgb(139, 139, 139);
  transition: transform;
}

button:hover {
  background-color: rgba(56, 248, 56, 0.507);
  transform: scale(1.2);
}